
.mt-top{
    height: 250px;
     border:0px solid black;
   
  }
.mt-menu-bar { display: table; margin:0 auto}
.mt-top-img-box {
    width: 380px;
    height:260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-top:40px;	
    border:0px solid black;
}
.mt-top-img-box h1 {
    font-size: 70px;
    margin: 0;
    padding-top: 50px;
    text-align: center;
    color: #3f4f5e;
}
.mt-top-img-box h2 {
    font-size: 16px;
    margin: 0;
    padding-top: 0px;
    padding-right: 30px;
    text-align: right;
    font-style: italic;
    color: #ef5c6e;
   
}


/*nav*/
nav{
    background-color:#fff ;
    border-top: 0px solid #3f4f5e;
    border-bottom: 0px solid #3f4f5e;
    border-left: 0;
    border-right: 0;
    box-shadow: 0 0 0 0;
    height: 25px;
    line-height: 22px;
    

}


nav li{
    
     border-left: solid 2px #3f4f5e;;
     height: 20px;
     

}

nav li:first-child{
    border-left: none;
}

nav ul li a{
    color: #3f4f5e;
    text-transform: uppercase;
    font-size: 16px;
    height: 20px;
    border: 0px solid black;
    margin-left: 10px;
    margin-right: 10px;

}

nav ul li a:hover{
    color: #000;
    background: #fff;
}


/*content*/


.container{
    margin-top: 70px;
    margin-bottom: 100px;
    border: 0px solid black;
    width: 80%;

}

.mt-body{ margin-top: 0px; background-color: #fff;  }

.mt-body-header {
    margin: 0px 100px 50px 100px;
    padding-top: 30px;
    padding-bottom: 0;
    border-bottom: 4px solid #ef5c6e;
    
}
.mt-body-header h1{
    font-size: 35px;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #3f4f5e;
}
.grid {
    background: #fff;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    
    clear: both;

}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
    width: 33.333%;
    padding: 5px;
   
}

.grid-item {
    float: left;
}

.grid-item img {
    display: block;
    width: 100%;
    
}

.grid-item img:hover{
    border: 5px solid rgba(239,92,110,0.8)
}


/*FOOTER*/

footer{
    clear: both;
}

.b { border: 1px solid black}
